  *,
  *::after
  *::before {
  box-sizing: border-box;
}

body {
  font-family: Montserrat sans-serif;
  font-size: 13px;
  background-image: url("images/dandelions_bg.jpg");
  color: #515076;
}

.title {
  font-size: 70px;
  font-weight: 400;
  line-height: 78px;
  margin: 0;
  text-align: center;
  color: #515076;
}

.products__list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 45px;
}


