.catalog__container {
    background-image: url("../images/dandelions_bg.jpg");
    background-repeat: no-repeat;
    background-position: 0 0;
    padding-top: 1px;
}

.container {
max-width: 1110px;
margin: 0 auto;
}