  *,
  *::after,
  *::before {
  box-sizing: border-box;
}

body {
  font-family: Montserrat, sans-serif;
  font-size: 13px;
  background-image: url("../images/dandelions_bg.jpg");
  color: #515076;
}

